/* Basic styles for layout and readability */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');


:root {
  --primary-color: rgba(60,205,222,255);
  --secondary-color: rgba(0,175,197,255);
  --fontfamily: 'Bitcount Grid Double', sans-serif;
  --background-color: #f9f9f9;
  --text-color: #333;
}


body {
    font-family: var(--fontfamily), sans-serif;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #2c3e50;
  }
  
  h2 {
    color: #34495e;
    text-align: center;
    margin-top: 3rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--secondary-color)
  }
  
  #controls {
    margin-top: 10px;
    text-align: center;
  }
  
  #output, #sessionCount {
    margin-top: 10px;
    padding: 10px;
    background-color: #d8e0e2;
    border-radius: 5px;
    text-align: center;
  }
